<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Please Confirm</title>
	<link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<h2 th:text="'Are u going to authorize [' + ${authorizationRequest.clientId} + '] to access	your protected resources?'"></h2>
		<div style="height: 20px;"></div>
		<form id="confirmationForm" name="confirmationForm" action="../oauth/authorize" method="post">

			<input name="user_oauth_approval" value="true" type="hidden" /> 
				<div th:each="item:${authorizationRequest.scope}">
					<input type="radio" th:name="'scope.'+${item}" value="true" hidden="hidden" checked="checked" />
				</div>
			<button class="btn btn-primary" type="submit">Approve</button>
		</form>
		<div style="height: 20px;"></div>
		<form id="denyForm" name="confirmationForm" action="../oauth/authorize" method="post">
			<input name="user_oauth_approval" value="false" type="hidden" />
			<button class="btn btn-primary" type="submit">Deny</button>
		</form>
	</div>
</body>
</html>